<form id="sign_up_form" action="/user/create" method="POST" class="form-signin">
    <h2 class="form-signin-heading">帳戶申請</h2>
    <% if(flash && flash.err) { %>
        <ul class="alert alert-sucess">
            <% Object.keys(flash.err).forEach(function(error){ %>
                <li><%- JSON.stringify(flash.err[error]) %></li>
            <% }) %>
        </ul>
    <% } %>
    <div class="control-group"><input type="text" class="form-control" placeholder="名字" name="name"></div>
    <div class="control-group"><input type="text" class="form-control" placeholder="姓" name="title"></div>
    <div class="control-group"><input type="text" class="form-control" placeholder="E-mail" name="email"></div>
    <div class="control-group"><input id = "password" type="password" class="form-control" placeholder="密碼" name="password"></div>
    <div class="control-group"><input id = "passwordagain" type="password" class="form-control" placeholder="重複密碼" name="confirmation"></div>
    <br/>

    <input type="submit" class="btn btn-lg btn-primary btn-block" value="申請"/>
    <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
</form>
