<div class="container">
   <div class="jumbotron">
       <h1>申請測試</h1>

       <h2>第一次用sails.js製作頁面.</h2>
       <a href="/user/new" style="text-align:center" class="btn btn-lg btn-success">申請</a>
     <a href="/user/index" style="text-align:center" class="btn btn-lg btn-success">查詢</a>
    </div>
</div>
